####### JAVASCRIPT REACT APP #######

# dependencies
urquery_frontend/node_modules/**
./urquery_frontend/.pnp
./urquery_frontend.pnp.js

# testing
./urquery_frontend/coverage

# production
./urquery_frontend/build/**

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

####### JAVA SPRING BOOT #######

HELP.md
urquery-backend/target/**
urquery-backend/src/resoruces/public/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
./urquery-backend/.apt_generated
./urquery-backend/.classpath
./urquery-backend/.factorypath
./urquery-backend/.project
./urquery-backend/.settings
./urquery-backend/.springBeans
./urquery-backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


########### SWI PROLOG SERVER ############

# Ignore the httpd log file
*.log
