/*

UrQuery

Autores:
  Elias Arias Muñoz
  Jose Andres Lopez Cruz
  Carlos Albornoz Rondon
  Jose Joaquin Garcia Ramirez
  Julissa Seas Segura

Curso:
  Universidad Nacional
  Facultad de Ciencias Exactas y Naturales
  Escuela de Informática
  EIF-400 Paradigmas de Programación
  II ciclo, 2022
  
*/

/* Custom CSS */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Navbar */
nav {
  background-color: #353535 !important;
}

.nav_title {
  font-family: "Fugaz One", cursive;
}

.btn-custom {
  background-color: #3c6e71 !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: #346264 !important;
}

.accordion-item,
.accordion-button {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.accordion-button {
  background-color: #d9d9d9 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #212529 !important;
}
